@keyframes yolo {
    50% { grid-row: 2;}
    100% { grid-row: 2; grid-column-start: 4; grid-column-end: 5; width: 200px }
}

.galleryContainer{
    border: 1px black dotted;
    position:relative;
    width: 100%;
    aspect-ratio: 7/3;
    --image-width: calc(100%/7);
    --image-height: calc(100%/3);
}

.n-4 {
    position: absolute;
    top: 0;
    left: calc(2 * var(--image-width));
    right: calc(2 * var(--image-width));
    width: calc(var(--image-width) * 3);
    height: auto;
}

.n-1-left {
    position: absolute;
    top: 0;
    left: 0;
    rotate: 90deg;
    width: var(--image-width);
}

.n-1-right {
    position: absolute;
    top: 0;
    left: calc(6 * var(--image-width));
    rotate: 90deg;
    width: var(--image-width);
}

.n-2-left {
    position: absolute;
    top: 0;
    left: var(--image-width);
    rotate: 180deg;
    width: var(--image-width);
}

.n-2-right {
    position: absolute;
    top: 0;
    left: calc(5 * var(--image-width));
    rotate: 180deg;
    width: var(--image-width);
}

.n-3-left {
    position: absolute;
    top: var(--image-height);
    left: 0;
    rotate: 270deg;
    width: calc(2 * var(--image-width));
    aspect-ratio: 1/1;
}

.n-3-right {
    position: absolute;
    top: var(--image-height);
    left: calc(5 * var(--image-width));
    rotate: 270deg;
    width: calc(2 * var(--image-width));
}