
.galleryContainer{
    position:relative;
    width: 70%;
    aspect-ratio: 7/3;
    --image-width: calc(100%/7);
    --image-height: calc(100%/3);
}

.img-cell:hover {
    transform: scale(1.05,1.05);
    transition: all .2s ease-in-out;
}

.img-cell {
    position: absolute;
    transition: all .5s ease-in-out;
    object-fit: cover
}

.n-4 {
    top: 0;
    left: calc(2 * var(--image-width));
    width: calc(var(--image-width) * 3);
    height: calc(3 * var(--image-height));
}

.n-0-left {
    width: 0;
    height: var(--image-height);
}

.n-0-right {
    width: 0;
    height: var(--image-height);
    left: calc(7 * var(--image-width));
}

.n-1-left {
    top: 0;
    left: 0;
    width: var(--image-width);
    height: var(--image-height);
}

.n-1-right {
    top: 0;
    left: calc(6 * var(--image-width));
    width: var(--image-width);
    height: var(--image-height);
}

.n-2-left {
    top: 0;
    left: var(--image-width);
    width: var(--image-width);
    height: var(--image-height);
}

.n-2-right {
    top: 0;
    left: calc(5 * var(--image-width));
    width: var(--image-width);
    height: var(--image-height);
}

.n-3-left {
    top: var(--image-height);
    left: 0;
    width: calc(2 * var(--image-width));
    height: calc(2 * var(--image-height));
}

.n-3-right {
    top: var(--image-height);
    left: calc(5 * var(--image-width));
    width: calc(2 * var(--image-width));
    height: calc(2 * var(--image-height));
}

.no-show {
    display: none;
}